/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  background-color: #130139;
  overflow-x: hidden;
}

header, main {
  position: relative;
  z-index: 10;
}

h1, h2 {
  font-weight: 700;
  color: #FFFAFA;
  line-height: 76px;
}

p {
  color: #FFFAFA;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 48px;
}

a {
  color: #FFFAFA;
  transition: 0.2s ease;
}
a:hover {
  color: #FD367E;
}

button {
  cursor: pointer;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  color: #FFFAFA;
  width: 170px;
  height: 43px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  transition: 0.2s ease;
}
button:hover {
  background-color: #FD367E;
  border: none;
}

::-moz-selection {
  background-color: #FD367E;
}

::selection {
  background-color: #FD367E;
}

.hamburger-button {
  cursor: pointer;
  background-color: none;
  border: none;
  width: auto;
  height: auto;
  display: none;
}
.hamburger-button:hover {
  background-color: transparent;
}

.mobile-menu {
  display: none;
}

.form-input[type=submit], input[type=submit], input[type=reset] {
  cursor: pointer;
  width: auto;
  height: auto;
  background-color: #FD367E;
  border-radius: 5px;
  transition: 0.2s ease;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  color: #FFFAFA;
}
.form-input[type=submit]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #FFFAFA;
  color: #282C4D;
}

.background-container {
  position: absolute;
  width: 100vw;
  height: 200vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.background-image {
  position: relative;
  width: 100vw;
  z-index: -10;
}

.img-color-dodge {
  position: relative;
  top: -47%;
  left: -1%;
  mix-blend-mode: color-dodge;
  z-index: -2;
}

.img-color-dodge-2 {
  position: relative;
  top: -78%;
  left: 40%;
  mix-blend-mode: color-dodge;
  z-index: -2;
}

.img-color-dodge-3 {
  position: relative;
  top: -118%;
  left: 42%;
  mix-blend-mode: color-dodge;
  z-index: -2;
}

.gradient-1 {
  position: relative;
  top: -150%;
  left: -45%;
  z-index: -2;
}

.gradient-2 {
  position: relative;
  top: -185%;
  left: 45%;
  opacity: 0.8;
  z-index: -2;
}

header {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
}

.phone-number {
  font-size: 18px;
  color: #FD367E;
  font-weight: 600;
  transition: 0.2s ease;
}
.phone-number:hover {
  color: #FFFAFA;
}

.header-content {
  width: 100%;
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.header-line {
  position: relative;
  background-color: #FFFFFF;
  height: 1px;
  opacity: 0.4;
  width: 100vw;
  left: -20vw;
}

nav {
  padding: 1rem 0 0 0;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-section {
  padding: 10rem 0 6rem 0;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  height: 100%;
  width: 50%;
}
.hero-content p {
  font-size: 18px;
  line-height: 32px;
  padding: 1rem 0 2rem 0;
}
.hero-content button {
  background-color: #FD367E;
  border: none;
  transition: 0.2s ease;
}
.hero-content button:hover {
  background-color: #FFFAFA;
  color: #282C4D;
}

.offers-section {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers-container {
  padding-top: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.offers-card {
  background-color: #282C4D;
  padding: 2rem;
  border-radius: 8px;
}

.offers-count {
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  background: linear-gradient(97.8deg, #4EF4FF 6.19%, #B095FF 20.81%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
}
.offers-count:before {
  content: "";
  display: inline-block;
  min-width: 5px;
  height: 36px;
  background-color: #FD367E;
  margin-right: 0.5rem;
}

.offers-header {
  width: 70%;
  padding: 1rem 0 1rem 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #FFFAFA;
}

.offers-description {
  width: 85%;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.about-section {
  padding: 3rem 0 0 0;
  display: flex;
  flex-direction: row;
}

.about-image {
  background-image: url("http://bit-camping.ru/img/about-image.png");
  background-size: cover;
  width: 47%;
}

.about-content {
  padding: 5rem 0 5rem 8rem;
  width: 53%;
  background-color: #282C4D;
}
.about-content p {
  padding-top: 1rem;
  width: 55%;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.gallery-section {
  background-color: #171B2E;
}
.gallery-section h2 {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  padding: 7rem 0 4rem 0;
}

.gallery-content1 {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 58.8% 41.2%;
}
.gallery-content1 div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100%;
}
.gallery-content1 div img {
  max-width: 100%;
}

.gallery-content2 {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 41.2% 58.8%;
  padding: 2rem 0 7rem 0;
}
.gallery-content2 div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100%;
}
.gallery-content2 div img {
  max-width: 100%;
}

.map-section {
  background-color: #282C4D;
  display: flex;
  flex-direction: row;
}

.map-content {
  width: 57%;
}

.map-content-container {
  margin: 5rem 0 4rem 0;
  position: relative;
  max-width: 57%;
  left: 38%;
  display: flex;
  flex-direction: column;
}
.map-content-container p {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}
.map-content-container h2 {
  margin-bottom: 1rem;
}
.map-content-container .phone-number {
  margin: 3rem 0 3rem 0;
}

.email-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.map {
  width: 55%;
}

.contacts-section {
  background-image: url("http://bit-camping.ru/img/back-contacts.png");
  background-size: cover;
}

.contacts-content {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0 6rem 0;
}
.contacts-content p {
  margin: 1.5rem 0 3rem 0;
  text-align: center;
}
.contacts-content h2 {
  text-align: center;
}
.contacts-content form {
  width: 100%;
  min-height: 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.contacts-content form * {
  width: auto;
  height: auto;
}
.contacts-content form button {
  background-color: #FD367E;
  border: none;
  transition: 0.2s ease;
}
.contacts-content form button:hover {
  background-color: #FFFAFA;
  color: #282C4D;
}
.contacts-content form input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #282C4D;
  padding: 0 1rem 0 1rem;
  border-radius: 5px;
  border: none;
}
.contacts-content form input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #282C4D;
  opacity: 0.5;
}
.contacts-content form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #282C4D;
  opacity: 0.5;
}
.contacts-content form input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #282C4D;
  opacity: 0.5;
}

footer {
  background-color: black;
}
footer p {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #D9DBE1;
  padding: 1.5rem 0 1.5rem 0;
}

@media (max-width: 1900px) {
  h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .hero-section img {
    max-width: 460px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero-content {
    width: 70%;
  }
  .offers-header {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 1400px) {
  header {
    width: 80vw;
  }
  .header-line {
    left: -10vw;
  }
  .hero-section {
    width: 80vw;
  }
  .offers-section {
    width: 80vw;
  }
  .about-content {
    padding: 5rem 0 5rem 5rem;
  }
  .about-content p {
    width: 75%;
  }
  .gallery-section h2 {
    width: 80vw;
  }
  .gallery-content1 {
    width: 80vw;
  }
  .gallery-content2 {
    width: 80vw;
  }
  .contacts-content {
    width: 80vw;
  }
  .map-content-container {
    left: 20%;
    max-width: 70%;
  }
  footer p {
    width: 80vw;
  }
}
@media (max-width: 1020px) {
  nav {
    max-width: 60%;
  }
  .hero-section img {
    max-width: 40%;
  }
  .offers-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-section {
    flex-direction: column-reverse;
  }
  .about-content {
    min-width: 100%;
  }
  .about-image {
    height: 50vw;
    min-width: 100%;
  }
  .map-section {
    flex-direction: column;
  }
  .map-content {
    width: 80vw;
  }
  .map-content-container {
    max-width: 80vw;
    left: 10%;
  }
  .map {
    width: 100%;
  }
  .map iframe {
    height: 40vw;
  }
}
@media (max-width: 780px) {
  .desktop {
    display: none;
  }
  .hamburger-button {
    display: block;
  }
  .mobile-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    height: 80vh;
    right: 0;
    background-color: #FFFAFA;
    border-radius: 8px;
    box-shadow: -10px 10px 100px 100px rgba(19, 1, 57, 0.6);
    z-index: 100;
  }
  .mobile-menu a {
    color: #282C4D;
    width: 100%;
    text-align: center;
  }
  .mobile-menu button {
    background-color: #FD367E;
  }
  .mobile-menu .phone-number {
    display: block;
    color: #FD367E;
  }
  .close-button {
    position: relative;
    left: 20vw;
    cursor: pointer;
    background-color: #FD367E;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-section {
    padding: 2rem 0 0 0;
    flex-direction: column;
    width: 80vw;
    align-items: flex-start;
  }
  .hero-section h1 {
    max-width: 80vw;
  }
  .hero-section img {
    max-width: 500px;
    position: relative;
    left: 30vw;
    top: -150px;
  }
  .inactive {
    display: none;
  }
  .active {
    display: flex;
  }
  .hero-content {
    height: auto;
    width: 100%;
  }
  .hero-content p {
    max-width: 70%;
  }
  .offers-container {
    grid-template-columns: 1fr;
  }
  .about-content {
    padding: 5rem 0 5rem 10vw;
  }
  .gallery-content1 {
    gap: 1rem;
  }
  .gallery-content1 div {
    gap: 1rem;
  }
  .gallery-content2 {
    padding-top: 1rem;
    gap: 1rem;
  }
  .gallery-content2 div {
    gap: 1rem;
  }
  .map iframe {
    height: 60vh;
  }
  .contacts-content form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 3rem);
  }
}/*# sourceMappingURL=style.css.map */