/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter";
  background-color: #130139;
  overflow-x: hidden;
}

header, main {
  position: relative;
  z-index: 10;
}

h1, h2 {
  font-weight: 700;
  color: #FFFAFA;
  line-height: 76px;
}

p {
  color: #FFFAFA;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 48px;
}

a {
  color: #FFFAFA;
  transition: 0.2s ease;
}
a:hover {
  color: #FD367E;
}

button {
  cursor: pointer;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  color: #FFFAFA;
  width: 170px;
  height: 43px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}

::-moz-selection {
  background-color: #FD367E;
}

::selection {
  background-color: #FD367E;
}

.background-container {
  position: absolute;
  width: 100vw;
  height: 200vw;
  display: flex;
  flex-direction: column;
}

.background-image {
  position: relative;
  width: 100vw;
  z-index: -10;
}

.img-color-dodge {
  position: relative;
  top: -47%;
  left: -1%;
  mix-blend-mode: color-dodge;
  z-index: -2;
}

.img-color-dodge-2 {
  position: relative;
  top: -78%;
  left: 40%;
  mix-blend-mode: color-dodge;
  z-index: -2;
}

.img-color-dodge-3 {
  position: relative;
  top: -118%;
  left: 42%;
  mix-blend-mode: color-dodge;
  z-index: -2;
}

.gradient-1 {
  position: relative;
  top: -150%;
  left: -45%;
  z-index: -2;
}

.gradient-2 {
  position: relative;
  top: -185%;
  left: 45%;
  opacity: 0.8;
  z-index: -2;
}

header {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
}

.phone-number {
  font-size: 18px;
  color: #FD367E;
  font-weight: 600;
}

.header-content {
  width: 100%;
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header-line {
  position: relative;
  background-color: #FFFFFF;
  height: 1px;
  opacity: 0.4;
  width: 100vw;
  left: -20vw;
}

nav {
  padding: 1rem 0 0 0;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-section {
  padding: 5rem 0 5rem 0;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  height: 100%;
  width: 50%;
}
.hero-content p {
  font-size: 18px;
  line-height: 32px;
  padding: 1rem 0 2rem 0;
}
.hero-content button {
  background-color: #FD367E;
  border: none;
}

.offers-section {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers-container {
  padding-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.offers-card {
  background-color: #282C4D;
  padding: 2rem;
  border-radius: 8px;
}

.offers-count {
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  background: linear-gradient(97.8deg, #4EF4FF 6.19%, #B095FF 20.81%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
}
.offers-count:before {
  content: "";
  display: inline-block;
  min-width: 5px;
  height: 36px;
  background-color: #FD367E;
  margin-right: 0.5rem;
}

.offers-header {
  width: 70%;
  padding: 1rem 0 1rem 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #FFFAFA;
}

.offers-description {
  width: 85%;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

@media (max-width: 1900px) {
  h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .hero-section img {
    max-width: 460px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero-content {
    width: 70%;
  }
  .offers-header {
    font-size: 20px;
    line-height: 24px;
  }
}/*# sourceMappingURL=style.css.map */