@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

$white: #FFFFFF;
$whitish: #FFFAFA;
$pink: #FD367E;
$darkblue: #282C4D;
$darkpurple: #130139;


body {
    font-family: 'Inter';
    background-color: $darkpurple;
    overflow-x: hidden;
}

header, main {
    position: relative;
    z-index: 10;
}

h1, h2 {
    font-weight: 700;
    color: $whitish;
    line-height: 76px;
}

p {
    color: $whitish;
}

h1 {
    font-size: 58px;
}

h2 {
    font-size: 48px;
}

a {
    color: $whitish;
    transition: 0.2s ease;
    &:hover {
        color: $pink;
    }
}

button {
    cursor: pointer;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    color: $whitish;
    width: 170px;
    height: 43px;
    background-color: rgba(0,0,0,0);
    border: 1px solid $white;
    border-radius: 5px;
}

::selection {
    background-color: $pink;
}

//--------------------------------BACKGROUND

.background-container {
    position: absolute;
    width: 100vw;
    height: 200vw;
    display: flex;
    flex-direction: column;
}

.background-image {
    position: relative;
    width: 100vw;
    z-index: -10;
}

.img-color-dodge {
    position: relative;
    top: -47%;
    left: -1%;
    mix-blend-mode: color-dodge;
    z-index: -2;
}

.img-color-dodge-2 {
    position: relative;
    top: -78%;
    left: 40%;
    mix-blend-mode: color-dodge;
    z-index: -2;
}

.img-color-dodge-3 {
    position: relative;
    top: -118%;
    left: 42%;
    mix-blend-mode: color-dodge;
    z-index: -2;
}

.gradient-1 {
    position: relative;
    top: -150%;
    left: -45%;
    z-index: -2;
}

.gradient-2 {
    position: relative;
    top: -185%;
    left: 45%;
    opacity: 0.8;
    z-index: -2;
}


//-------------------------------------HEADER
header {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    color: $white;
    font-weight: 700;
    font-size: 24px;
}

.phone-number {
    font-size: 18px;
    color: $pink;
    font-weight: 600;
}

.header-content {
    width: 100%;
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header-line {
    position: relative;
    background-color: $white;
    height: 1px;
    opacity: 0.4;
    width: 100vw;
    left: -20vw;
}


nav {
    padding: 1rem 0 0 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

//------------------------------------------------HERO SECTION
.hero-section {
    padding: 6rem 0 6rem 0;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    height: 100%;
    width: 50%;
    p {
        font-size: 18px;
        line-height: 32px;
        padding: 1rem 0 2rem 0;
    }
    button {
        background-color: $pink;
        border: none;
    }
}

//----------------------------------------------OFFERS SECTION
.offers-section {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offers-container {
    padding-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.offers-card {
    background-color: $darkblue;
    padding: 2rem;
    border-radius: 8px;
}

.offers-count {
    font-weight: 600;
    font-size: 36px;
    line-height: 32px;
    background: linear-gradient(97.8deg, #4EF4FF 6.19%, #B095FF 20.81%);
    background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
    &:before {
        content: '';
        display: inline-block;
        min-width: 5px;
        height: 36px;
        background-color: $pink;
        margin-right: 0.5rem;
    }
}

.offers-header {
    width: 70%;
    padding: 1rem 0 1rem 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: $whitish;
}


.offers-description {
    width: 85%;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

//-----------------------------------------------ABOUT SECTION
.about-section {
    padding: 3rem 0 3rem 0;
    display: flex;
    flex-direction: row;
}

.about-image {
    background-image: url('about-image.png');
    background-size: cover;
    width: 45%;
}

.about-content {
    padding: 4rem 0 4rem 5rem;
    width: 55%;
    background-color: $darkblue;
    p {
        padding-top: 1rem;
        width: 55%;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
    }
}









//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@--MEDIA QUERIES
@media (max-width: 1900px) {
    h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .hero-section {
        img {
            max-width: 460px;
            height: fit-content;
        }
    }

    .hero-content {
        width: 70%;
    }

    .offers-header {
        font-size: 20px;
        line-height: 24px;
    }
}
